<% layout('layout') -%>
<h2>Plan de livraison – <%= targetDate %></h2>
<% if (plans.length === 0) { %>
  <p>Aucune tournée définie. Ajoutez des tournées et des arrêts dans l'admin.</p>
<% } %>
<% plans.forEach(pl => { %>
  <h3>Tournée: <%= pl.tour.name %></h3>
  <% pl.stops.forEach(s => { %>
    <h4>Stop <%= s.stop_order %>: <%= s.boutique_name %></h4>
    <table>
      <tr><th>Produit</th><th>Qté</th></tr>
      <% s.lines.forEach(l => { %>
        <tr><td><%= l.product %></td><td><%= l.qty %></td></tr>
      <% }) %>
    </table>
  <% }) %>
<% }) %>
